@model Blogger.Models.Post 
@{
    ViewBag.Title = "Write New Post";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<h3>@User.Identity.Name</h3>

<form asp-controller="Post" asp-action="Index">
    <center>
        <div>
            <p>Write your new post here</p>
            <div class="form-group">
                <input type="text" name="Title" class="form-control" placeholder="Title" id="usr">
            </div>
            <textarea class =" form-control"name="Text" id="Post" rows="25" cols="100"></textarea>
        </div>
        <center>
            <div>
               <button type="submit">Post</button>
            </div>
        </center>
    </center>
</form>