@model Blogger.Models.PostCollection
@{
    ViewBag.Title = "Profile";
}

<div style="float: left; width:200px"><h2>@ViewBag.Title</h2> </div>
    <div style="float: right; width:200px; margin-top: 35px">
        <form asp-controller="Home" asp-action="NewPost"><button type="submit">Write New Post</button></form>
    </div>
    <br /><br/><br/>
    <div>
        <center>
            <ol>
                @foreach (Post post in Model.AllPosts.Reverse())
                {


                    <li>
                        @Html.ActionLink(post.Title, "SinglePost", "Post",
                      new { id = post.PostId })
                    </li>



                }
                

            </ol>

        </center>
    </div>


    <center>
        <a asp-controller="Manage" asp-action="Index" title="Manage">Manage Account</a>
    </center>




