@model Blogger.Models.PostCollection
@{
    ViewBag.Title = "Profile";
}


<div class="pull-left"><h2>@ViewBag.Title</h2> </div>
<br />
    <div class="pull-right ">
        <form asp-controller="Home" asp-action="NewPost"><button type="submit">Write New Post</button></form>
  </div>
    <br /><br/><br/>
    <div>
        
            <ol>
                @foreach (Post post in Model.AllPosts.Reverse())
                {


                    <li>
                        @Html.ActionLink(post.Title, "SinglePost", "Post",
                      new { id = post.PostId }) 

                   

                       

                    </li>


                   

                }
                

            </ol>

        </>
    </div>


    <center>
        <a asp-controller="Manage" asp-action="Index" title="Manage">Manage Account</a>
    </center>




